---
layout: page
title: Plateformes
---
<h3>Libertés civiles</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "civil-liberties" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Défense</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "defence" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Economie numérique et droits numériques</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "digital-economy-and-digital-rights" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Emplois et Économie</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "economy-and-jobs" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Éducation</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "education" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Soins de santé</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "health" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Le système judiciaire</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "justice" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Confiance dans le gouvernement</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "restoring-trust-in-government" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>


<h3>Social</h3>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "social-policy" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>